<div class="buttons">
  <app-record-button></app-record-button>
  <button
    (click)="openDiscreteForm()"
    mat-icon-button 
    aria-label="Discrete Form"
  >
      <mat-icon>settings</mat-icon>
  </button>
  @if(result !== undefined)
  {
  <button
    (click)="clearResults()"
    mat-icon-button 
    aria-label="Clear Results"
  >
      <mat-icon>delete</mat-icon>
  </button>
  }
  <app-warning-indicator></app-warning-indicator>
</div>
<div>
  <app-discrete-result></app-discrete-result>
</div>
