<mat-card appearance="outlined">
    <mat-card-content>
        <table>
            <tr>
                <td>
                    <div class="indicator-icon">
                    @if(hasApi())
                    {
                            <mat-icon 
                            class="positive"
                            tabindex="0"
                            aria-hidden="true" 
                            fontIcon="thumb_up">
                            </mat-icon>
                    } @else {
                            <mat-icon 
                            class="negative"
                            tabindex="0"
                            aria-hidden="true" 
                            fontIcon="thumb_down">
                            </mat-icon>
                    }
                    </div>
                </td>
                <td>
                    {{prefix}} {{title()}}
                </td>
            </tr>
        </table>
</mat-card-content>

</mat-card>
