<h2 mat-dialog-title>Update Settings</h2>
<mat-dialog-content>
  <form [formGroup]="configurationForm">
  <table>
    <tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Language</mat-label>
          <mat-select
            formControlName="language" 
            cdkFocusInitial>
            <mat-option [value]="configurationForm.controls['language'].value">
              {{getNameForCode(configurationForm.controls['language'].value)}}
            </mat-option>
            @for(languageCode of supportedLanguages; track languageCode) {
              <mat-option [value]="languageCode">
                {{getNameForCode(languageCode)}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Max Alternatives</mat-label>
          <input 
            formControlName="maxResults"
            matInput
          >
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Speech Grammars (JSGF format)</mat-label>
          <textarea
            matInput
            formControlName="grammars"
            rows="6"
            style="font-family: monospace"
          ></textarea>
           <mat-hint>#JSGF V1.0; grammar colors; public &lt;color&gt; = red | blue | green | yellow | black | white | orange | purple | pink | brown | gray | grey | cyan | magenta | gold | silver;</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
</mat-dialog-content>
