<div class="buttons">
    @if(speechService.continousRecording) {
        <button       
            color="warn" 
            mat-flat-button
            (click)="toggle()"
        >
            Stop Recording
        </button>
    } @else {
        <button        
            mat-flat-button
            (click)="toggle()"
        >
            Record Continous
        </button>
    }
    <button
    (click)="openDiscreteForm()"
    mat-icon-button 
    aria-label="Discrete Form"
    >
      <mat-icon>settings</mat-icon>
  </button>
</div>
<div>
    <app-continuous-result></app-continuous-result>
</div>