button {
    border: 0px;
    background-color: white;
    position: relative;
    color: red;
    top: 6px;
    cursor: pointer;
}


#warning-message-dialog {
    padding: 15px;
    h2 {
        font-size: 28px;
    }
}
