<h3>The Angular Voice Analyzer</h3>
<div class="indicators">
    <app-api-indicator 
        title="Speech Recognition API"
        [hasApi]="hasSpeechRecognition"
    ></app-api-indicator>
    <app-api-indicator
        title="Webkit Speech Recognition API"
        [hasApi]="hasWebkitSpeechRecognition"
    ></app-api-indicator>
</div>
<div>{{url}}</div>

<mat-tab-group>
    <mat-tab label="Discrete"> Discrete </mat-tab>
    <mat-tab label="API"> API </mat-tab>
    <mat-tab label="Continous"> Continous </mat-tab>
    <mat-tab label="Logs"> Logs </mat-tab>
</mat-tab-group>

<a routerLink="/discrete">discrete</a> 
<a routerLink="/api">API</a> 
<a routerLink="/continuous">continous</a> 
<a routerLink="/logs">logs</a>
<router-outlet></router-outlet>
