<h3>The Angular Voice Analyzer</h3>
<div class="indicators">
    <app-api-indicator 
        title="Speech Recognition API"
        [hasApi]="hasSpeechRecognition"
    ></app-api-indicator>
    <app-api-indicator
        title="Webkit Speech Recognition API"
        [hasApi]="hasWebkitSpeechRecognition"
    ></app-api-indicator>
</div>

<mat-tab-group #tab (selectedIndexChange)="tabChange($event)">
    <mat-tab> 
        <ng-template mat-tab-label>
            Discrete
        </ng-template>
        <ng-template matTabContent>
            <app-discrete></app-discrete>
        </ng-template>      
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            API
        </ng-template>
        <ng-template matTabContent>
            API
        </ng-template>    
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Continuous
        </ng-template>
        <ng-template matTabContent>
            Continuous
        </ng-template>    
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Logs <span class="log-count">(<app-log-count-indicator></app-log-count-indicator>)</span>
        </ng-template>
        <ng-template matTabContent>
            <app-logs></app-logs>
        </ng-template>    
    </mat-tab>
</mat-tab-group>
