app-log-count-indicator
{
    display: inline-block;
}

.log-count
{
    display: block;
    position: relative;
    left: 2px;
    top: 1px;
}

.header {
    display: flex;
    justify-content: space-between; 
}

.menu {
    cursor: pointer;
    margin: 5px;
}

.menu:hover {
    border: 2px solid black;
}

h1 {
    padding: 2px 6px;
    font-size: 26px;
    text-align: center;
}

h2 {
    padding: 2px 6px;
    font-size: 18px;

}

p {
    margin-left: 15px;
    margin-right: 15px;
}

.dialog-content {
  max-height: 60vh; /* or whatever fits your design */
  overflow: auto; 
}

.voice-table {
    margin: 20px
}

.video-container {
    max-width: 100%;
    overflow: hidden;
    margin: 1rem auto;     /* centers and adds space above/below */
    padding: 1rem;         /* space inside the box */
    background: #f8f8f8;   /* subtle background for contrast */
    border-radius: 12px;   /* rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* soft shadow */
}

  video {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
    border-radius: 8px;
  }