mat-icon.positive {
    color: #228B22;
}

mat-icon.negative {
    color: #C70039;
}

mat-icon.neutral {
    color: #D97706;
}

.api-tab-heading {
  font-size: 24px;
  font-weight: 600;
  color: #555; 
}

.api-tab-heading, p, .api-legend
{
  margin: 12px;
}

