.title {
    background-color: #CCCCCC;

    &.result
    {
       background-color: #00CC00; 
    }

    &.error
    {
        background-color: #CC0000;
    }
}

table {
    width: 100%;
    border: 1px solid black;
}

button {
    margin: 5px;
}