/* You can add global styles to this file, and also import other style files */

html, body {  margin: 6px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

tr:nth-child(even) {
    background-color: #f0f0f0;
}

